<tr data="{{workoutId}}">
    <td>{{date}}</td>
    <td>{{exercise}}</td>
    <td>{{weight}}</td>
    <td>{{sets}}</td>
    <td>{{reps}}</td>
    <td>
        	<button class="btn btn-danger btn-xs pull-right Delete-Row-Weight">Delete Exercise</button>
    </td>
</tr>